<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChronoTrackMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChronoTrackMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChronoTrackMonitor.Properties.Settings>
            <setting name="HostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="StoredUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredPassword" serializeAs="String">
                <value />
            </setting>
        </ChronoTrackMonitor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChronoTrackMonitor.Properties.Settings>
            <setting name="ChronoTrackMonitor_ChronoTrackWS_RemoteService" serializeAs="String">
                <value>http://localhost/ChronoTrackWS/RemoteService.asmx</value>
            </setting>
        </ChronoTrackMonitor.Properties.Settings>
    </applicationSettings>

    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </modules>
    </system.webServer>
</configuration>